

<ul class="users">
	<% for(var i=0;i<users.length;i++){ %>
		<li class="user">
			<span><%=users[i].name %></span>
			<span><%=users[i].email %></span>
			<span><%=users[i].password %></span>
		</li>
	<% } %>
</ul>

<form action="/users" method="POST"> 
		<input type="text" placeholder="name" name="name">
		<input type="email" placeholder="Email" name="email">
		<input type="password" placeholder="password" name="password">
		<button type="submit">Submit</button>
</form>

